@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGro-Lig.woff2') format('woff2'),
    url('../fonts/NeuzeitGro-Lig.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGro-Bla.woff2') format('woff2'),
    url('../fonts/NeuzeitGro-Bla.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGro-Bol.woff2') format('woff2'),
    url('../fonts/NeuzeitGro-Bol.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGroCon-Bla.woff2') format('woff2'),
    url('../fonts/NeuzeitGroCon-Bla.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGro-Reg.woff2') format('woff2'),
    url('../fonts/NeuzeitGro-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGroExt-Bla.woff2') format('woff2'),
    url('../fonts/NeuzeitGroExt-Bla.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-BlackItalic.woff2') format('woff2'),
    url('../fonts/FilsonSoft-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-Bold.woff2') format('woff2'),
    url('../fonts/FilsonSoft-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-Black.woff2') format('woff2'),
    url('../fonts/FilsonSoft-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-Book.woff2') format('woff2'),
    url('../fonts/FilsonSoft-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-BoldItalic.woff2') format('woff2'),
    url('../fonts/FilsonSoft-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-Heavy.woff2') format('woff2'),
    url('../fonts/FilsonSoft-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-BookItalic.woff2') format('woff2'),
    url('../fonts/FilsonSoft-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-HeavyItalic.woff2') format('woff2'),
    url('../fonts/FilsonSoft-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-Medium.woff2') format('woff2'),
    url('../fonts/FilsonSoft-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-Italic.woff2') format('woff2'),
    url('../fonts/FilsonSoft-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-Light.woff2') format('woff2'),
    url('../fonts/FilsonSoft-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-LightItalic.woff2') format('woff2'),
    url('../fonts/FilsonSoft-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-Regular.woff2') format('woff2'),
    url('../fonts/FilsonSoft-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-MediumItalic.woff2') format('woff2'),
    url('../fonts/FilsonSoft-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-Thin.woff2') format('woff2'),
    url('../fonts/FilsonSoft-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/FilsonSoft-ThinItalic.woff2') format('woff2'),
    url('../fonts/FilsonSoft-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
.font-filson {
  font-family: 'Filson Soft';
}
.font-neu {
  font-family: 'NeuzeitGrotesk';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NeuzeitGrotesk', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.floating {
  -webkit-animation: float 4s ease-in-out infinite;
  animation: float 4s ease-in-out infinite;
}
.duration1 {
  -webkit-animation-duration: 4.6s;
  animation-duration: 4.6s;
}
.duration2 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.duration3 {
  -webkit-animation-duration: 4.2s;
  animation-duration: 4.2s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.duration4 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.bounce {
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}
@-webkit-keyframes bounce {
  0%,
  10%,
  25%,
  35%,
  to {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-9px);
  }
  45% {
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%,
  10%,
  25%,
  35%,
  to {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-9px);
  }
  45% {
    transform: translateY(-3px);
  }
}
.animation-marquee {
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
}
.txt-shadow {
  text-shadow: 16.25rem 0 currentColor, calc(16.25rem * 2) 0 currentColor,
    calc(16.25rem * 3) 0 currentColor, calc(16.25rem * 4) 0 currentColor,
    calc(16.25rem * 5) 0 currentColor, calc(16.25rem * 6) 0 currentColor,
    calc(16.25rem * 7) 0 currentColor, calc(16.25rem * 8) 0 currentColor,
    calc(16.25rem * 9) 0 currentColor, calc(16.25rem * 10) 0 currentColor;
}
.txt-shadow2 {
  text-shadow: 9ch 0 currentColor, calc(9ch * 2) 0 currentColor,
    calc(9ch * 3) 0 currentColor, calc(9ch * 4) 0 currentColor;
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.rainbow-text svg {
  width: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
}
.rainbow-text svg rect {
  fill: #fff;
}
.rainbow-text svg > rect {
  fill: #fbf2ff;
  -webkit-mask: url(#maskblack);
  mask: url(#maskblack);
}
.rainbow-text svg text {
  font-size: 8rem;
  font-family: 'Filson Soft';
  font-weight: 900;
  text-transform: uppercase;
}
.join-title .hat {
  width: 60px;
  height: 30px;
  right: -30px;
  top: -10px;
  display: block;
  position: absolute;
}
.join-title .hat:before {
  content: '';
  background: url(https://imaginaryones.com/_nuxt/img/butterfly.0a24fcb.gif)
    no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  right: 2%;
  top: 2%;
  width: 25%;
  height: 50%;
  transform-origin: center center;
}
.join-title .hat:after {
  content: '';
  background: url(https://imaginaryones.com/_nuxt/img/daisy.e3c3303.png)
    no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: rotate(20deg);
  transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.47, 1.24);
}

.good__rotating-text {
  font-family: 'Filson Soft';
  font-size: 4vw;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.4;
  display: inline-block;
  max-width: calc(100% - 8vw);
  margin: 0px;
  --text-height: 6vw;
  --half-text-height: calc(var(--text-height) / 2);
  --negative-half-text-height: calc(var(--text-height) / 2 * -1);
}
.good__rotating-text .rotating-text {
  width: calc(100% - 9vw);
  height: var(--text-height);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 0.8ch;
  margin-top: -5px;
  transform-style: preserve-3d;
  animation: 4s cubic-bezier(0, 0, 0, 1) 0s infinite normal none running
    rotating;
}
.good__rotating-text .rotating-text .text {
  font-family: 'Filson Soft';
  display: flex;
  text-align: center;
  place-content: center;
  align-items: center;
  background: rgb(255, 221, 0);
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(var(--negative-half-text-height)) translateZ(0)
    rotateX(90deg);
}
.good__rotating-text .rotating-text .text-1 {
  transform: translateY(0) translateZ(var(--half-text-height)) rotateX(0);
}
.good__rotating-text .rotating-text .text-2 {
  background: rgb(132, 89, 255);
  color: rgb(255, 255, 255);
  transform: translateY(var(--half-text-height)) translateZ(0) rotateX(-90deg);
}
.good__rotating-text .rotating-text .text-3 {
  background: rgb(164, 255, 232);
  color: rgb(132, 89, 255);
  transform: translateY(0) translateZ(var(--negative-half-text-height))
    rotateX(-180deg);
}
.good__rotating-text .rotating-text .text-4 {
  background: rgb(255, 203, 207);
  color: rgb(0, 0, 0);
}
.good__rotating-text .rotating-text .text-5 {
  background: rgb(255, 255, 255);
  color: rgb(132, 89, 255);
}
@-webkit-keyframes rotating {
  0% {
    transform: perspective(600px) rotateX(0deg);
  }
  25% {
    transform: perspective(600px) rotateX(90deg);
  }
  50% {
    transform: perspective(600px) rotateX(180deg);
  }
  75% {
    transform: perspective(600px) rotateX(270deg);
  }
  to {
    transform: perspective(600px) rotateX(1turn);
  }
}
@keyframes rotating {
  0% {
    transform: perspective(600px) rotateX(0deg);
  }
  25% {
    transform: perspective(600px) rotateX(90deg);
  }
  50% {
    transform: perspective(600px) rotateX(180deg);
  }
  75% {
    transform: perspective(600px) rotateX(270deg);
  }
  to {
    transform: perspective(600px) rotateX(1turn);
  }
}
.good .rainbow-text svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.good .rainbow-text svg rect {
  fill: #fff;
}
.good .rainbow-text svg > rect {
  fill: #8459ff;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
.good .rainbow-text svg text {
  font-size: 2vw;
  font-weight: 800;
  font-style: italic;
}
.animation-sound {
  animation: sound 0ms linear -0.8s infinite alternate;
}
@-webkit-keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  to {
    opacity: 1;
    height: 24px;
  }
}
@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  to {
    opacity: 1;
    height: 24px;
  }
}
.music-bar .bars span:first-child {
  left: 1px;
  -webkit-animation-duration: 474ms;
  animation-duration: 474ms;
}
.music-bar .bars span:nth-child(2) {
  left: 6px;
  -webkit-animation-duration: 433ms;
  animation-duration: 433ms;
}
.music-bar .bars span:nth-child(3) {
  left: 11px;
  -webkit-animation-duration: 407ms;
  animation-duration: 407ms;
}
.music-bar .bars span:nth-child(4) {
  left: 16px;
  -webkit-animation-duration: 427ms;
  animation-duration: 427ms;
}
.music-bar .bars span:nth-child(5) {
  left: 21px;
  -webkit-animation-duration: 419ms;
  animation-duration: 419ms;
}
ul.main-nav li.active span.bg {
  transform: translateY(0);
}
.menu-wrapper .side-bar::-webkit-scrollbar {
  display: none;
}
.phase .sidebar::before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  background-color: #fff;
  z-index: -1;
}
.phase.phase-one .sidebar::before {
  top: 10%;
  height: 100%;
}
.phase .sidebar.left::before {
  left: 50%;
}
.phase .media::before,
.phase .media::after {
  position: absolute;
  content: '';
  display: block;
  width: 175px;
  height: 175px;
  z-index: -1;
}
.phase.phase-one .media::before {
  top: -20%;
  left: 10%;
  border-bottom-left-radius: 70px;
  border-color: transparent transparent #fff #fff;
  border-style: solid;
  border-width: 10px;
}
.phase.phase-one .media::after {
  bottom: 0;
  right: 10%;
  border-top-right-radius: 70px;
  border-color: #fff #fff transparent transparent;
  border-style: solid;
  border-width: 10px;
}
.phase .media .media-list::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 100%;
  background-color: #fff;
  z-index: -1;
  top: 38%;
}
.phase.phase-two .sidebar::before {
  height: 120%;
  top: -10%;
  left: 46.4%;
}
.phase.phase-three .media::before {
  bottom: 10%;
  border-top-left-radius: 70px;
  border-color: #fff transparent transparent #fff;
  border-style: solid;
  border-width: 10px;
  left: 10%;
}
.phase.phase-three .media::after {
  top: 0;
  right: 10%;
  border-bottom-right-radius: 70px;
  border-color: transparent #fff #fff transparent;
  border-style: solid;
  border-width: 10px;
}
.phase.phase-three .media .media-list::after {
  top: 59%;
}
.phase.phase-three .sidebar::before {
  height: 130%;
  top: -15%;
}
.phase.phase-four .sidebar::before {
  height: 200%;
  left: 46.4%;
  top: -70%;
}
.phase.phase-five .media::after {
  top: 0;
  right: 10%;
  border-bottom-right-radius: 70px;
  border-color: transparent #fff #fff transparent;
  border-style: solid;
  border-width: 10px;
}
.phase.phase-five .media .media-list::after {
  left: 0;
  width: 80%;
  top: 41%;
}
.phase.phase-five .sidebar::before {
  height: 100%;
  left: 50%;
  top: -20%;
}
.preloader-rainbow::before {
  content: '';
  padding-top: 45%;
  display: block;
}
.preloader-rainbow svg {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
}
.preloader-rainbow svg rect {
  fill: #fff;
}
.preloader-rainbow svg > rect {
  fill: #fff2f2;
  -webkit-mask: url(#preloader-mask);
  mask: url(#preloader-mask);
}
.animation-heartbeat {
  animation: heartbeat 2s ease infinite;
}
@-webkit-keyframes heartbeat {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scale(1.05);
  }
  30% {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes heartbeat {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scale(1.05);
  }
  30% {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1);
  }
}
#scene {
  pointer-events: auto !important;
}
#scene .why-item.one {
  top: 17% !important;
  left: 20% !important;
}
#scene .why-item.two {
  left: 10% !important;
  top: auto !important;
}
#scene .why-item.three {
  top: 11% !important;
  left: auto !important;
}
#scene .why-item.four {
  top: auto !important;
  left: auto !important;
}
#scene .why-item.five {
  top: 40px !important;
  left: 50px !important;
}
#scene .why-item.six {
  top: -100px !important;
  right: calc(50% - 115px);
  left: auto !important;
}
#scene .why-item.seven {
  top: 170px !important;
  right: 25px;
  left: auto !important;
}
#scene .why-item.eight {
  bottom: -100px;
  left: -50px !important;
  top: auto !important;
}
#scene .why-item.nine {
  bottom: 50px;
  left: 50% !important;
  top: auto !important;
}
#scene .why-item.ten {
  bottom: -170px;
  right: -150px;
  left: auto !important;
  top: auto !important;
}
#scene .why-item.ten img {
  filter: blur(5px);
}
#scene .why-item.nine img {
  filter: blur(1px);
}
#scene .why-item.eight img {
  filter: blur(5px);
}
#scene .why-item.six img {
  filter: blur(5px);
}
#scene .why-item.five img {
  filter: blur(2px);
}
#scene .why-item.one,
#scene .why-item.four {
  display: none !important;
}

@media screen and (min-width: 768px) {
  #scene .why-item {
    display: inline-block !important;
  }
}
@media screen and (min-width: 1024px) {
  .join-title .hat {
    width: 160px;
    height: 80px;
    right: -80px;
    top: -20px;
  }
}
