@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftBlackRegular.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftBlackRegular.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftLightItalic.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft Book';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftBookRegular.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftBookRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftMediumRegular.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftMediumRegular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftHeavyRegular.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftHeavyRegular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftBold.woff2') format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftBookItalic.woff2') format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftBookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftBlackItalic.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftBlackItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftLightRegular.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftLightRegular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftBoldItalic.woff2') format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftHeavyItalic.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftHeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftThinRegular.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftThinRegular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftRegularItalic.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftRegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftRegularRegular.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftRegularRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftThinItalic.woff2') format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'FilsonSoft';
  src: url('../fonts/FONTSPRINGDEMO-FilsonSoftMediumItalic.woff2')
      format('woff2'),
    url('../fonts/FONTSPRINGDEMO-FilsonSoftMediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGro-Lig.woff2') format('woff2'),
    url('../fonts/NeuzeitGro-Lig.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGro-Bla.woff2') format('woff2'),
    url('../fonts/NeuzeitGro-Bla.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGro-Bol.woff2') format('woff2'),
    url('../fonts/NeuzeitGro-Bol.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGroCon-Bla.woff2') format('woff2'),
    url('../fonts/NeuzeitGroCon-Bla.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGro-Reg.woff2') format('woff2'),
    url('../fonts/NeuzeitGro-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NeuzeitGrotesk';
  src: url('../fonts/NeuzeitGroExt-Bla.woff2') format('woff2'),
    url('../fonts/NeuzeitGroExt-Bla.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.font-filson {
  font-family: 'FilsonSoft';
}
.font-neu {
  font-family: 'NeuzeitGrotesk';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NeuzeitGrotesk', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.floating {
  -webkit-animation: float 4s ease-in-out infinite;
  animation: float 4s ease-in-out infinite;
}
.duration1 {
  -webkit-animation-duration: 4.6s;
  animation-duration: 4.6s;
}
.duration2 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.duration3 {
  -webkit-animation-duration: 4.2s;
  animation-duration: 4.2s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.duration4 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.bounce {
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}
@-webkit-keyframes bounce {
  0%,
  10%,
  25%,
  35%,
  to {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-9px);
  }
  45% {
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%,
  10%,
  25%,
  35%,
  to {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-9px);
  }
  45% {
    transform: translateY(-3px);
  }
}
.animation-marquee {
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
}
.txt-shadow {
  text-shadow: 16.25rem 0 currentColor, calc(16.25rem * 2) 0 currentColor,
    calc(16.25rem * 3) 0 currentColor, calc(16.25rem * 4) 0 currentColor,
    calc(16.25rem * 5) 0 currentColor, calc(16.25rem * 6) 0 currentColor,
    calc(16.25rem * 7) 0 currentColor, calc(16.25rem * 8) 0 currentColor,
    calc(16.25rem * 9) 0 currentColor, calc(16.25rem * 10) 0 currentColor;
}
.txt-shadow2 {
  text-shadow: 9ch 0 currentColor, calc(9ch * 2) 0 currentColor,
    calc(9ch * 3) 0 currentColor, calc(9ch * 4) 0 currentColor;
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.rainbow-text svg {
  width: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
}
.rainbow-text svg rect {
  fill: #fff;
}
.rainbow-text svg > rect {
  fill: #fbf2ff;
  -webkit-mask: url(#maskblack);
  mask: url(#maskblack);
}
.rainbow-text svg text {
  font-size: 8rem;
  font-family: 'FilsonSoft';
  font-weight: 900;
  text-transform: uppercase;
}
.join-title .hat {
  width: 60px;
  height: 30px;
  right: -30px;
  top: -10px;
  display: block;
  position: absolute;
}
.join-title .hat:before {
  content: '';
  background: url(https://imaginaryones.com/_nuxt/img/butterfly.0a24fcb.gif)
    no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  right: 2%;
  top: 2%;
  width: 25%;
  height: 50%;
  transform-origin: center center;
}
.join-title .hat:after {
  content: '';
  background: url(https://imaginaryones.com/_nuxt/img/daisy.e3c3303.png)
    no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: rotate(20deg);
  transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.47, 1.24);
}

.good__rotating-text {
  font-family: 'FilsonSoft';
  font-size: 4vw;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.4;
  display: inline-block;
  max-width: calc(100% - 8vw);
  margin: 0px;
  --text-height: 6vw;
  --half-text-height: calc(var(--text-height) / 2);
  --negative-half-text-height: calc(var(--text-height) / 2 * -1);
}
.good__rotating-text .rotating-text {
  width: calc(100% - 9vw);
  height: var(--text-height);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 0.8ch;
  margin-top: -5px;
  transform-style: preserve-3d;
  animation: 4s cubic-bezier(0, 0, 0, 1) 0s infinite normal none running
    rotating;
}
.good__rotating-text .rotating-text .text {
  font-family: 'FilsonSoft';
  display: flex;
  text-align: center;
  place-content: center;
  align-items: center;
  background: rgb(255, 221, 0);
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(var(--negative-half-text-height)) translateZ(0)
    rotateX(90deg);
}
.good__rotating-text .rotating-text .text-1 {
  transform: translateY(0) translateZ(var(--half-text-height)) rotateX(0);
}
.good__rotating-text .rotating-text .text-2 {
  background: rgb(132, 89, 255);
  color: rgb(255, 255, 255);
  transform: translateY(var(--half-text-height)) translateZ(0) rotateX(-90deg);
}
.good__rotating-text .rotating-text .text-3 {
  background: rgb(164, 255, 232);
  color: rgb(132, 89, 255);
  transform: translateY(0) translateZ(var(--negative-half-text-height))
    rotateX(-180deg);
}
.good__rotating-text .rotating-text .text-4 {
  background: rgb(255, 203, 207);
  color: rgb(0, 0, 0);
}
.good__rotating-text .rotating-text .text-5 {
  background: rgb(255, 255, 255);
  color: rgb(132, 89, 255);
}
@-webkit-keyframes rotating {
  0% {
    transform: perspective(600px) rotateX(0deg);
  }
  25% {
    transform: perspective(600px) rotateX(90deg);
  }
  50% {
    transform: perspective(600px) rotateX(180deg);
  }
  75% {
    transform: perspective(600px) rotateX(270deg);
  }
  to {
    transform: perspective(600px) rotateX(1turn);
  }
}
@keyframes rotating {
  0% {
    transform: perspective(600px) rotateX(0deg);
  }
  25% {
    transform: perspective(600px) rotateX(90deg);
  }
  50% {
    transform: perspective(600px) rotateX(180deg);
  }
  75% {
    transform: perspective(600px) rotateX(270deg);
  }
  to {
    transform: perspective(600px) rotateX(1turn);
  }
}
.good .rainbow-text svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.good .rainbow-text svg rect {
  fill: #fff;
}
.good .rainbow-text svg > rect {
  fill: #8459ff;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
.good .rainbow-text svg text {
  font-size: 2vw;
  font-weight: 800;
  font-style: italic;
}

@media screen and (min-width: 1024px) {
  .join-title .hat {
    width: 160px;
    height: 80px;
    right: -80px;
    top: -20px;
  }
}
